#room_nav {
	font-size: 80%;
	font-weight: bold;
	height: 2.4em;
	bottom: 0;
	width: 100%;
	background-color: #f8f8ee;
	border-bottom: 2px solid #4388bdc5;
	color: #FFF;
	overflow: auto;
}

#room_nav ul, .selector_top, .selector_bottom {
	width: 100%;
	margin: 0 auto 0 auto;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}

#room_nav ul li {
	display: inline;
	list-style: none;
	vertical-align: middle;
	padding: 0 0.2em;
}

#room_nav ul li a {
	padding: 0.3em;
	display: inline-block;
	white-space: nowrap;
}

#room_nav ul li a:hover {
	padding: 0.3em;
	background-color: #e7f1d9;
	border: 0px solid #5c646b;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
}

#room_nav ul li img {
	float: none;
	margin: 0 2px;
}

#room_nav ul li a img {
      vertical-align: middle;
      border: none;
}

.room_nav_link {
	color: #3e3153;
}