local/*
*.txt
icon/*
dump.rdb
node_modules
node_modules/*
backend/*
package-lock.json
*.db
examples/web*
examples/*.txt
examples/drag*
uploads/*
services/*
release
release/*
release/*/*
releaser.sh
release.json
tools/boot*.sh
*.tgz
play_count.json
release/www.popsongnow.com/index.html
webcrypto*
user_keys*
*.DS*
sites/popsong/static/dialog-polyfill-master/*
custom_storage/test/*
debug/*
