local/*
*.txt
icon/*
dump.rdb
node_modules
node_modules/*
backend/*
package-lock.json
*.db
examples/web*
examples/*.txt
examples/drag*
uploads/*
services/*
release
releaser.sh
release.json
tools/boot*.sh
*.tgz
